name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Cache node modules
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install Dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Archive build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: ./dist
          if-no-files-found: error

  linter:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Restore cached node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ steps.cache-node-modules.outputs.cache-key }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: Use Cached Dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint:fix

  e2e:
    needs: linter
    name: cypress-run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: ./dist
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          start: npm run dev
          wait-on: http://localhost:5173
          command: npm run cypress
        env:
          CLIENT_BASE_URL: ${{ secrets.CLIENT_BASE_URL }}
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-folder
          path: coverage

  coverage_report:
    name: Generate coverage report
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-folder
          path: coverage
      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1
      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v3
        with:
          coverage-files: ./coverage/lcov.info
          minimum-coverage: 90
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
